<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->
<ul class="mypage-thumbs">
  <li ng-repeat="mypage in $ctrl.mypages | filter:$ctrl.query | orderBy:$ctrl.orderProp"
      class="thumbnail mypage-list-item">
    <a href="#!/mypages/{{mypage.id}}" class="thumb">
      <img ng-src="{{mypage.imageUrl}}" alt="{{mypage.name}}" />
    </a>
    <a href="#!/mypages/{{mypage.id}}">{{mypage.name}}</a>
    <p>{{mypage.snippet}}</p>
  </li>
</ul>
    </div>
  </div>
</div>
